@{
  Layout = "_Layout";
}

<h3>Select which band you would like to add a venue to</h3>
<form action='/added-venue-to-band/' method="post">
  <div class="form-group">
    <label for="band">Band name</label>
    <select class="form-control" id="band" name="band" required>
      <option value="" disabled selected>Select a band name</option>
      @foreach(var band in Model["allBands"])
      {
        <option value="@band.GetBandId()">@band.GetBandName()</option>
      }
    </select>
  </div>
  <div class="form-group">
    <label for="venue">Venue name</label>
    <select class="form-control" id="venue" name="venue" required>
      <option value="" disabled selected>Select a venue name</option>
      @foreach(var venue in Model["allVenues"])
      {
        <option value="@venue.GetVenueId()">@venue.GetVenueName()</option>
      }
    </select>
  </div>
  <button class="btn btn-primary" type="submit">Submit</button>
</form>
