@{
  Layout = "_Layout";
}

<h1>Track your favorite bands and your favorite concert venues</h1>

<h3>What would you like to do</h3>
<ul>
  <li><a href="/all-venues">See a list of all venues</a></li>
  <li><a href="/all-bands">See a list of all bands</a></li>
  <li><a href="/add-band-to-venue">Add a band to the venue that it has played at</a></li>
  <li><a href="/add-venue-to-band">Add a venue to a band's played list</a></li>
</ul>
