@{
  Layout = "_Layout";
}

<table style="width=100%">
  <tr>
    <th>Venue ID</th>
    <th>Venue Name</th>
  </tr>
  @foreach(var venue in Model)
  {
    <tr>
      <td>@venue.GetVenueId()</td>
      <td><a href="/bands-by-venue/@venue.GetVenueId()">@venue.GetVenueName()</a></td>
    </tr>
  }
</table>

<h3>Add new Venue</h3>
<form action="/create-venue" method="post">
  <div class="form-group">
    <label for="venue-name">Enter venue name</label>
    <input id="venue-name" name="venue-name" class="form-control" type="text" required>
  </div>
  <button class="btn btn-primary" type="submit">Submit</button>
</form>
